@tailwind base;
@tailwind components;
@tailwind utilities;

/* .no-border .react-calendar__tile {s */

.react-calendar {
  background-color: rebeccapurple;
}

.shadow-md {
  border: red !important;
}

/* styles/globals.css */

.react-calendar {
  border: none !important;
  width: 100% !important;
}

.react-calendar__tile {
  border: none !important;
  font-size: 10px !important;
}

.react-calendar__tile--custom {
  background-color: #4a90e2 !important;
  color: white !important;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

/* Mengatur padding dan margin */
.react-calendar__tile--default {
  padding: 0.1px;
  margin: 0.1px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.react-calendar__month-view__days {
  padding: 1px !important;
  height: 10px !important;
}

.react-calendar__month-view__days__day {
  padding: 8.5px !important;
}
